html, body {
  height: 100%;
  margin: 0;
}

.mat-toolbar {
  background: #003057 !important; // Fidelity navy
  color: white !important;
}

.sidenav {
  background: #f5f7fa;
}

.mat-list-item mat-icon {
  margin-right: 12px;
}
